@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap");

:root {
    --brand-color: rgb(0, 0, 0);
    --bg-color: rgb(250, 250, 250);
    --text-color: rgb(35, 35, 35);
    --footer-bg-color: rgb(35, 35, 35);
    --footer-text-color: rgb(250, 250, 250);
    --scrollbar-color: rgb(122, 122, 122);
    --scrollbar-hover-color: rgb(70, 70, 70);

    --is-mobile: 0;

    font-size: 62.5%; /* 10px */
    font-family: "Montserrat", sans-serif;
}

* {
    -webkit-tap-highlight-color: transparent; /* remove blue outline on mobile click*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
}

/********************************
 *            HEADER            *
 ********************************/

nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    z-index: 999;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    background-color: var(--bg-color);
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.nav-logo {
    order: 1;
}

.nav-logo img {
    transition: width 0.2s ease, height 0.2s ease;
}

.nav-logo img.shrink {
    width: 56px;
    height: 41px;
}

.nav-item:nth-of-type(n + 4) {
    order: 2;
}

.nav-item {
    font-size: 1.6rem;
    padding: 0.5rem 0;
    text-decoration: none;
    outline: none;
    color: var(--text-color);
    border-bottom: 0.2rem solid var(--bg-color);
    transition: border-color 0.2s ease;
}

.nav-item:hover,
.nav-item:active,
.nav-selected {
    color: var(--brand-color);
    border-color: var(--brand-color);
}

.nav-mobile-items,
.nav-mobile-toggle {
    display: none;
}

/* remove inner dotted square on focused items in Firefox */
::-moz-focus-inner {
    border: 0;
}

.nav-logo:focus-visible,
.nav-item:focus-visible {
    outline: 0.2rem solid var(--brand-color);
}

.nav-logo:active {
    outline: none;
}

/********************************
 *           CONTENT            *
 ********************************/

main {
    font-size: 1.6rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}
h1 {
    font-size: 6.5rem;
    margin: 0;
    padding: 1rem 2rem;
    color: hsl(50deg, 70%, 80%);
    text-shadow: 1px 1px 3px #333;
}

@media screen and (max-width: 600px) {
    header {
        background-image: url(./img/scott-web-600-600.png);
        background-image: -webkit-image-set(
            url(./img/scott-web-600-600.avif) 1x,
            url(./img/scott-web-600-600.avif) 2x,
            url(./img/scott-web-600-600.webp) 1x,
            url(./img/scott-web-600-600.webp) 2x,
            url(./img/scott-web-600-600.png) 1x,
            url(./img/scott-web-600-600.png) 2x
        );
        background-image: image-set(
            url(./img/scott-web-600-600.avif) 1x,
            url(./img/scott-web-600-600.avif) 2x,
            url(./img/scott-web-600-600.webp) 1x,
            url(./img/scott-web-600-600.webp) 2x,
            url(./img/scott-web-600-600.png) 1x,
            url(./img/scott-web-600-600.png) 2x
        );
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 600px;
        border-bottom: 2rem solid hsl(20deg, 50%, 70%);
        justify-content: flex-start;
        align-items: flex-end;
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    header {
        background-image: url(./img/scott-web-1000-500.png);
        background-image: -webkit-image-set(
            url(./img/scott-web-1000-500.avif) 1x,
            url(./img/scott-web-1000-500.avif) 2x,
            url(./img/scott-web-1000-500.webp) 1x,
            url(./img/scott-web-1000-500.webp) 2x,
            url(./img/scott-web-1000-500.png) 1x,
            url(./img/scott-web-1000-500.png) 2x
        );
        background-image: image-set(
            url(./img/scott-web-1000-500.avif) 1x,
            url(./img/scott-web-1000-500.avif) 2x,
            url(./img/scott-web-1000-500.webp) 1x,
            url(./img/scott-web-1000-500.webp) 2x,
            url(./img/scott-web-1000-500.png) 1x,
            url(./img/scott-web-1000-500.png) 2x
        );
        background-size: cover;
        min-height: 500px;
        border-bottom: 2rem solid hsl(220deg, 50%, 70%);
        justify-content: flex-end;
        align-items: flex-end;
    }
}

@media screen and (min-width: 1201px) {
    header {
        background-image: url(./img/scott-web-1550-900.png);
        background-image: -webkit-image-set(
            url(./img/scott-web-1550-900.avif) 1x,
            url(./img/scott-web-1550-900.avif) 2x,
            url(./img/scott-web-1550-900.webp) 1x,
            url(./img/scott-web-1550-900.webp) 2x,
            url(./img/scott-web-1550-900.png) 1x,
            url(./img/scott-web-1550-900.png) 2x
        );
        background-image: image-set(
            url(./img/scott-web-1550-900.avif) 1x,
            url(./img/scott-web-1550-900.avif) 2x,
            url(./img/scott-web-1550-900.webp) 1x,
            url(./img/scott-web-1550-900.webp) 2x,
            url(./img/scott-web-1550-900.png) 1x,
            url(./img/scott-web-1550-900.png) 2x
        );
        
        background-size: cover;
        min-height: 700px;
        border-bottom: 2rem solid hsl(90deg, 50%, 70%);
        justify-content: flex-start;
        align-items: flex-start;
    }
}

/********************************
 *          SCROLLBAR           *
 ********************************/

::-webkit-scrollbar {
    width: 1.5rem;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border: 0.25em solid var(--bg-color);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover-color);
}

/********************************
 *            FOOTER            *
 ********************************/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 3rem 0;
    gap: 4rem;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer .social a {
    margin: 0 1rem;
}

footer .contacts,
footer .credits {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer .contacts {
    font-size: 1.2rem;
}

footer .credits {
    font-size: 1rem;
}

footer .thin {
    font-weight: 200;
}

/********************************
 *        MEDIA QUERIES         *
 ********************************/

@media all and (max-width: 64rem) { /* uses base font-size (16px). to activate at 1024px: 64rem=1024px/16px */
    :root {
        --is-mobile: 1;
    }

    nav {
        flex-direction: column;
    }

    .nav-mobile-toggle {
        display: block;
        position: absolute;
        left: 3rem;
        padding: 1rem;
        cursor: pointer;
    }

    .nav-mobile-toggle a {
        color: var(--text-color);
    }

    .nav-mobile-toggle .bar {
        display: block;
        width: 2.5rem;
        height: 0.3rem;
        margin: 0.5rem auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }

    .nav-mobile-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .nav-mobile-toggle.active .bar:nth-child(1) {
        transform: translateY(0.8rem) rotate(45deg);
    }

    .nav-mobile-toggle.active .bar:nth-child(3) {
        transform: translateY(-0.8rem) rotate(-45deg);
    }

    .nav-mobile-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 1.5rem;
        position: sticky;
        overflow: hidden; /* Hide the element content, while height = 0 */
        margin-top: 0;
        max-height: 0rem;
        transition: max-height 0.3s ease-in-out, margin-top 0.3s ease-in-out;
    }

    .nav-mobile-items.visible {
        margin-top: 1rem;
        max-height: 20rem;
    }

    footer .contacts {
        flex-direction: column;
        gap: 2rem;
    }

    footer .separator {
        display: none;
    }
}
