@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap");

:root {
    --brand-color: rgb(0, 0, 0);
    --bg-color: rgb(250, 250, 250);
    --text-color: rgb(35, 35, 35);
    --footer-bg-color: rgb(35, 35, 35);
    --footer-text-color: rgb(250, 250, 250);
    --scrollbar-color: rgb(122, 122, 122);
    --scrollbar-hover-color: rgb(70, 70, 70);

    --is-mobile: 0;

    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

* {
    -webkit-tap-highlight-color: transparent; /* remove blue outline on mobile click*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
}

/********************************
 *            HEADER            *
 ********************************/

nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    z-index: 999;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    background-color: var(--bg-color);
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

nav li {
    display: inline-block;
}

nav li a,
.nav-collapse-item {
    text-decoration: none;
    outline: none;
    color: var(--text-color);
    border-bottom: 2px solid var(--bg-color);
}

.nav-item,
.nav-collapse-item {
    width: fit-content;
    -moz-width: fit-content;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    font-family: "Montserrat", sans-serif;
}

.nav-item {
    margin: 0 15px;
    padding: 5px 0;
}

.nav-item:hover,
.nav-item:active,
.nav-collapse-item:hover,
.nav-collapse-item:active,
.nav-selected {
    color: var(--brand-color);
    border-color: var(--brand-color);
}

.nav-logo {
    margin: 0 30px;
}

.nav-logo img {
    transition: width 0.3s ease, height 0.3s ease;
}

.nav-logo img.shrink {
    width: 56px;
    height: 41px;
}

.nav-collapse-items,
.nav-collapse {
    display: none;
}

/* remove inner dotted square on focused items in Firefox */
::-moz-focus-inner {
    border: 0;
}

.nav-logo:focus-visible,
.nav-item:focus-visible {
    outline: 2px solid var(--brand-color);
}

.nav-logo:active {
    outline: none;
}

/********************************
 *           CONTENT            *
 ********************************/


/********************************
 *          SCROLLBAR           *
 ********************************/

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border: 0.25em solid var(--bg-color);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover-color);
}

/********************************
 *            FOOTER            *
 ********************************/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 30px 0;
    gap: 40px;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer .social a {
    margin: 0 10px;
}

footer .contacts,
footer .credits {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

footer .contacts {
    font-size: .8rem;
}

footer .credits {
    font-size: .65rem;
}

footer .thin {
    font-weight: 200;
}

/********************************
 *        MEDIA QUERIES         *
 ********************************/

@media (max-width: 1000px) {
    :root {
        --is-mobile: 1;
    }

    .nav-item {
        display: none;
    }

    .nav-collapse {
        display: block;
        position: absolute;
        left: 30px;
        padding: 10px;
        cursor: pointer;
    }

    .nav-collapse-items.visible {
        height: 205px;
        transition: height 500ms 0ms;
    }

    .nav-collapse-items {
        display: block;
        position: sticky;
        width: 100%;
        overflow: hidden; /* Hide the element content, while height = 0 */
        height: 0;
        transition: height 500ms 0ms;
        background-color: var(--bg-color);
    }

    .nav-collapse-item.nav-collapse-selected {
        color: var(--brand-color);
        border-color: var(--brand-color);
    }

    .nav-collapse-items li {
        display: block;
        width: 100%;
        text-align: center;
        padding: 15px 0;
    }

    .nav-collapse-icon {
        color: var(--text-color);
    }

    .nav-collapse-item {
        display: block;
    }

    footer .contacts {
        flex-direction: column;
        gap: 20px;
    }

    footer .separator {
        display: none;
    }
}
